body {
    margin: 0;
    background: #1b1b1b;
    color: #e5e5e5;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.43;
    letter-spacing: .01071em;
}

html {
    font-size: 18px;
    scroll-behavior: smooth;
    scroll-padding-top: 64px;
}

.socials {
    margin-top: 32px;
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position:relative;
}
.psc {
    width:50px;
    height:50px;
}

.land {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    position:relative;
}

.pfp {
    width:20%;
    height:20%;
}

.bgyes {
    background-image: url("hi.png");
    min-height: 100%;
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.navt {
    margin-left: 5%;
}

.navt2 {
    margin-right: 5%;
}

.navbar {
    min-height:80px;
}

.center {
    text-align: center;
}

.bgno {
    background-image: url("pooh.jpg");
    min-height: 100%;
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.black {
    color:black;
}

#rectangle{
    width:400px;
    height:500px;
    background:white;
    margin-left:200px;
}

#rectangle1{
    width:300px;
    height:100px;
    background:white;
    margin-left:200px;
    margin-bottom:50px;
}

#rectangle2{
    width:300px;
    height:100px;
    background:white;
    margin-left:200px;
    margin-bottom:50px;
}

#rectangle3{
    width:300px;
    height:100px;
    background:white;
    margin-left:200px;
    margin-bottom:50px;
}

